@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,400italic,600italic,700italic,800italic,400,600,300,700,800);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Lato);

@import url('reset.css');
@import url('skeleton.css');
@import url('highlight-tango.css');

/* http://meyerweb.com/eric/tools/css/reset/  v2.0b1 | 201101  NOTE: WORK IN PROGRESS USE WITH CAUTION AND TEST WITH ABANDON */
html,
body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary, time, mark, audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside,
details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}

body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {text-decoration: none;}
del {text-decoration: line-through;}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Basic Clearfix */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
.ie6 .clearfix {height: 1%;}
.clearfix {display: block;}

/* End hide from IE-mac */
* {margin: 0;}

body {
    font-family: 'Source Sans Pro', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}

a {text-decoration: none;}
a:hover {text-decoration: underline;}

strong {font-weight: 700;}

.content-container {margin: 30px 0;}

.content {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

.method_signature {display: none;}

.content h1 {
    font-size: 36px;
    font-weight: 300;
    line-height: 40px;
    margin-bottom: 35px;
}

.content h2 {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 15px;
}

.content h3 {
    font-weight: 300;
    font-size: 22px;
    margin-bottom: 20px;
}

.content h4 {
    font-weight: 100;
    font-size: 18px;
    margin-bottom: 15px;
}

.content h5 {
    font-size: 18px;
    color: #888;
    font-weight: 400;
    margin-bottom: 15px;
}

.content p {margin-bottom: 25px;}
.content em {font-style: italic;}
.content strong {font-weight: 600;}

.content a {
    color: #288de2;
    font-weight: normal;
    text-decoration: none;
    -moz-transition: all .15s linear;
    -webkit-transition: all .15s linear;
    transition: all .15s linear;
}

.content a:hover {text-decoration: underline;}

.content ul, ol {
    list-style-type: circle;
    list-style-position: outside;
    margin: 0 0 25px 20px;
}

.content ul li, ol li {margin-bottom: 7px;}
.content ul {list-style-type: disc;}
.content ol {list-style-type: decimal;}

.content ul ul, ol ul, ul ol, ol ol {
    list-style-type: circle;
    margin: 7px 0 0 20px;
}

.content hr {
    margin-bottom: 25px;
    height: 1px;
    background: #ddd;
    border-width: 0;
}

.content blockquote {
    padding: 25px 0 25px 25px;
    border-left: 2px solid #288de2;
    margin: 40px 0;
    font-style: italic;
}

.content blockquote p {margin: 0;}

.content table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    font-size: 14px;
    margin-bottom: 25px;
}

.content table th,
.content table td {padding: 10px 5px;}

.content table thead th {
    background: #288de2;
    color: #fff;
    border-right: 1px solid #fff;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
}

.content table thead th:last-child,
.content table thead td:last-child {border-right-width: 0;}

.content table tbody th,
.content table tbody td {
    text-align: left;
    border: 1px solid #ddd;
}

.content table tbody th {border-right-width: 2px;}
.content table tbody tr:first-child th, table tbody tr:first-child td {border-top-width: 0px;}
.content table tbody tr:hover {background: #efefef;}
.content table tbody tr:hover p code {background: #fff;}

.content table tbody td.attributes-name {white-space: nowrap;}


/* START TODO: Fix this in markup */
.content table tbody h3 {font-size: 14px; font-weight: 600; margin-bottom: 0;}
.content table tbody p {margin-bottom: 0;}

.content table li {
    list-style-position: outside;
    margin-bottom: 7px;
}

.content ul li p, ol li p {margin-bottom: 10px;}
/* END TODO: Fix this in markup */


.content .responses {
    margin-bottom: 25px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.content .responses div {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

.content .responses div:last-child {border-bottom-width: 0;}

.sidebar-section {
    border: 1px solid #288de2;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* IE 8+ */
}

.sidebar-section {
    margin-bottom: 25px;
    border-top: 1px solid #288de2;
}

.sidebar-section h3 {
    padding: 15px;
    margin: 0;
    background: #288de2;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.sidebar-section h3 i {
    margin-right: 7px;
}

.sidebar-section ul {
    font-size: 14px;
    line-height: 17px;
    list-style-type: none;
    margin: 5px 0;
}

.sidebar-section ul li {
    padding: 0;
    margin: 0;
}

.sidebar-section ul li a {
    padding: 7px 15px;
    display: block;
    color: #288de2;
    text-decoration: none;
}

.sidebar-section ul li a:hover {
    text-decoration: underline;
}

.sidebar-section ul li a i {margin-left: 5px;}

.sidebar-section ul.feedback-decision li {float: left;}
.sidebar-section ul.feedback-decision li a {
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter:alpha(opacity=50);
}

.sidebar-section ul.feedback-decision li:first-child {margin-right: 45px;}

.sidebar-section ul.feedback-decision li a:hover {
    text-decoration: none;
    
    opacity: 1.0;
    -moz-opacity: 1.0;
    filter:alpha(opacity=100);
}

.sidebar-section ul.feedback-decision li a i {margin-right: 5px;}
.sidebar-section ul.feedback-decision li a.active {
    opacity: 1.0;
    -moz-opacity: 1.0;
    filter:alpha(opacity=100);
}

p code {
    font-family: 'Source Code Pro', 'Courier', monospace;
    font-weight: 400;
    font-size: 13px;
    color: #006699;
    background-color: #efefef;
    padding: 0 2px;

}

.highlight {
    font-family: 'Source Code Pro', 'Courier', monospace;
    font-weight: 400;
    font-size: 13px;
    background-color: #efefef;
    border-bottom: 1px solid #ddd;
    padding: 10px 15px;
    margin: 25px 0;
    overflow: auto;
 
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
}

.note {
    background-color: rgba(40,141,226,0.1);
    background-image: url("../images/icon-pad.png");
    background-image: none, url("../images/icon-pad.svg");
    background-repeat: no-repeat;
    background-position: 13px 17px;
    
    border: 1px solid rgba(40,141,226,0.3);
    padding: 15px 15px 15px 63px;
    margin-bottom: 35px;    
}


.content .note h4 {
    font-weight: 600;
    font-size: 16px;
    color: #288de2;
    margin-bottom: 3px;
}

.note p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
}
    
/* Disqus Comments */

#disqus_thread {
	border-top: 3px solid #288de2;
	padding-top: 30px;
	margin-top: 35px;
}

.ui-tooltip {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    background: #111;
    color: #fff;
    padding: 10px 15px;
    position: absolute;
    z-index: 9999;
}